doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/main.css")
        title Not Found
    body
        div.page404
            h1 Not Found
            p The page you are looking for does not exist.
            img(src="./images/undraw_page_not_found_re_e9o6.svg", alt="Page Not Found")
